<!DOCTYPE html>
<html>

<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>

    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. {{ state }}</p>
        <form action="/logout/" method="post">{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
{% else %}

    <p>{{ state }}</p>

	<form action="/login/" method="post">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		Username:
		<input type="text" name="username" placeholder="Username" /><br />
		Password:
		<input type="password" name="password" value="" placeholder="Password" /><br />

		<input type="submit" value="Log In" />
	</form>

        <a href="/signup/">
            <button>Sign up</button>
        </a>
{% endif %}
</body>
</html>