<!DOCTYPE html>
<html ng-app="sign_up_app">

<title>Social Network</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href=" {% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href=" {% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/angular.min.js"%}"></script>
    <script src="{% static "js/angular-bootstrap.js" %}"></script>
    <script src="{% static "js/signup.js"%}"></script>
</head>
<header>
<div class='navbar'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class='brand' href="/">Social Network</a>
    <ul class='nav nav-collapse collapse pull-right'>
        <li class="">
            <form class="navbar-form pull-right" name="loginForm" action="/login/" method="post" >{% csrf_token %}
                 {{ state }}
               <input type="text" class="span2" name ="username" ng-model="loginusername" placeholder="Username">
               <input type="password"class="span2" ng-model="loginpassword" name="password" placeholder="Password">
               <input type="submit"  value="Login" class="btn btn-primary">
            </form>
        </li>
    </ul>
    </div>
   </div>
  </div>


</header>


{% if user == None %}
<body ng-controller="SignupController">
<div class="container">
      <div class="row">
      <div class="offset span5">
        <img src="{% static "img/front-page-img.jpg" %}" alt="..." class="img-rounded">
      </div>
            <br>
            <br>
            <br>
            <br>
            <br>
      <div class="offset2 span5">
     <form class="form-horizontal" name="myForm" action="/create/" novalidate method="post">{% csrf_token %}
           <div class="control-group">
                 <label class="control-label" for="inputUsername">Username</label>

             <div class="controls">

                <input required type="text" name ="username" ng-model="username" placeholder="Desired Username">
              </div>

           </div>
  <br>
         <div class="control-group">
            <label class="control-label" for="inputIcon">Email address</label>
                <div class="controls">
                     <input class="email-address" required type="email" name ="email" ng-model="email" placeholder="Email" type="text">

                </div>
            </div>
  <br>
           <div class="control-group">
            <label class="control-label" for="password">Password</label>
                <div class="controls">
                     <input required ng-minLength="5" type="password" ng-model="password" name="password" placeholder="Password">
                </div>
            </div>
  <br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn-danger" disabled="true" ng-hide="myForm.$valid">Sign up</button>
                <button type="submit" class="btn-success" ng-hide="
             myForm.username.$pristine || myForm.username.$dirty && myForm.username.$invalid ||
             myForm.password.$pristine || myForm.password.$dirty && myForm.password.$invalid ||
             myForm.email.$pristine    || myForm.email.$dirty    && myForm.email.$invalid ">Sign up</button>
            </div>
        </div>
    </form>
    </div>
   </div>
  </div>
{% else  %}
    <h1> You are already signed in</h1>
    <form action="/logout/" method="post">{% csrf_token %}
            <input type="submit" value="Logout"/>
    </form>
{% endif %}

<div class="navbar navbar-fixed-bottom">
    <div class='navbar-inner'>
    <div class='container-fluid'>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <ul class='nav nav-collapse collapse pull-right'>
        <li class="nav-list">
                Copyright 2013 ©
        </li>
    </ul>
    </div>
   </div>
</div>
</body>
</html>