
.sign_up span.check, .sign_up span.uncheck {
    display:none;
    float: right;
    font-size:36px;
    margin-top: -12px;
}
.sign_up .ng-pristine {
    border:1px solid Gold;
}
.sign_up .ng-dirty.ng-valid {
    border:1px solid Green;
}
.sign_up .ng-dirty.ng-invalid {
    border:1px solid Red;
}
.sign_up .ng-dirty.ng-valid ~ span.check {
    color:green;
    display:inline;
}
.sign_up .ng-dirty.ng-invalid ~ span.uncheck {
    color:red;
    display:inline;
}

.searchbox {
  background:white;
  list-style:none;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  position: absolute;
}


.animate-repeat {
  line-height:20px;
  list-style:none;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  border: 1px solid black;

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
.control-group.center{ float:none;margin:0 auto;width:400px;margin-bottom:20px;}
.control-group .field {width:140px;float:left}
.control-group .l {width:120px;float:left;line-height: 29px;}
.row-fluid .offset4{
    display: block!important;
    float: none!important;
    width: 100%!important;
    margin-left: 0!important;
    padding:0 80px;
}
@media (max-width: 497px){
    .control-group.center {text-align: center;float:inherit;width: auto}
    .control-group .field,.control-group .l {width:120px;float:none;text-align: center;width: auto}
}
.chat_box {
    display:inline-block;
    border:1px solid #9c9c9c;
    width:250px;
    margin-left: 5px;
}
.user_box {
    display:block;
    padding:4px;
    background-color:#5e75a7;
    color:#fff;
    bottom:0;
}
.user_box:hover {
    cursor:pointer;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
.message_post {
    border-top:1px solid #EFEFEF;
    display:block;
    padding:5px 3px;
}
.message_text {
    margin-left:5px;
}
.message_content {
    border:1px solid #ddd;
    height:225px;
    overflow-y:scroll;
}
.box_reply {
    border:1px solid #ddd;
}
.text_reply {
    display:block;
    width:235px;
}
.user_img {
}
.hide_wrap_box {
    height:60px;
    bottom:100px;
}
.name {
    display: block;
    width: 80%;
}
.index_reload {
    position: absolute;
    bottom: 10px;
    right: 1px;
}
#chat_area {
    float:right;
}


